body {
    background-color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    position: relative;
    background-color: grey;
    width: 600px;
    height: 600px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-style: italic;
}

.floating-text-container {
    position: relative;
    top: -600px;
    width: 240px;
    height: 568px;
    float: right;
    margin: 20px;
}

.social-bar {
    position: absolute;
    bottom: 0px;
    font-size: 0.8em;
    font-style: normal;
    display: flex;
    width: 100%;
}

.insta {
    width: 37%;
    margin: 0;
    padding: 0;
    text-align: right;
}

.youtube {
    width: 27%;
    margin: 0;
    padding: 0;
    text-align: right;
}

.soundcloud {
    flex: 1;
    margin: 0;
    padding: 0;
    text-align: right;
}

h1 {
    margin: 10px 0 10px 0;
    font-weight: 500;
}

.bar {
    width: 100%;
    clear: both;
    margin-bottom: 20px;
}

.bar-contents {
    text-align: right;
}

.title {
    float: right;
    width: 220px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    text-align: center;
    margin-bottom: 20px;
}

.toggle-text {
    position: absolute;
    height: 13px;
    bottom: 0px;
    font-size: 0.8em;
    font-style: normal;
    margin: 10px;
    visibility: hidden;
}

.new-video-image-container {
    height: 100px;
}

.new-video-image {
    position: absolute;
    right: 23px;
    bottom: 20px;
    height: 100px;
    width: 100px;
}

li {
    list-style: none;
    padding-top: 10px;
}

video {
    width: 600px;
    opacity: 0.7;
}